<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layouts/head :: head(titolo=${titolo})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 th:text="${titolo}"></h4>

<div class="row mt-4 px-4">
    <div id="nomeCheTiPare" class="table-home pt-3 table-responsive">
        <table th:replace="layouts/components/tableView :: tableView(listaPol=${pols})"></table>
    </div>
</div>

<div th:replace="layouts/boostrScript :: boostrap_script"></div>

</body>
</html>